/* Misc Styling */
.card-bg {
    background-color: #d1d1d1;
    border-bottom-right-radius: 0.20rem !important;
    border-bottom-left-radius: 0.20rem !important;
}

/* Margin styling */

/* Applies to all lists, ignores navbar */
ul li,
ol li {
    margin-bottom: 10px;
}

.navbar li {
    margin-bottom: 0;
}

/* Applies to all alert boxes */
.alert {
    margin-bottom: 20px;
}

/* Applies to all page buttons */
a.list-group-item {
    margin-bottom: 20px;
}

/* Clickable image styling and margin */
.clickable-image {
    cursor: pointer !important;
}

.clickable-link {
    cursor: pointer !important;
}

/* Applies a margin to displayed clickable images; not hyperlinked images */
img.clickable-image {
    margin-bottom: 15px;
}

/* Misc table styling */

table,
th,
td {
    border: 1px solid black;
}

mark {
    background-color: #FFD700;
    color: black;
}

small.subtext {
    display: block; /* Ensures the text appears on a new line */
    margin-top: 0; /* Removes extra spacing above the small text */
}

/* Popup styles for images */
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

    .popup-close:hover {
        color: #f00;
    }

.list-group-item-primary:hover {
    background-color: #b3d4fc !important; /* Lighter blue on hover */
    border-color: #b3d4fc !important; /* Match border color */
}

/* OWRNG Table Styling */

#overworld-rng-table {
    width: 100%;
}

#overworld-rng-table th,
#overworld-rng-table td {
    padding: 12px 20px;
    vertical-align: middle;
}

.tooltip-underline {
    border-bottom: 1px dotted black;
}
