<div class="mb-3 w-100">
    <label>
        <span class="fw-bold">Select a boss:</span>
    </label>
    <select class="form-select gym-select" data-region="hoenn">
        <option value="">No boss selected...</option>
        <option value="gingeryjones">I want to fight Gingery Jones!</option>
        <option value="raikouguardian">I want to fight the Raikou Guardian!</option>
        <option value="ltsurge">I want to fight Lt. Surge!</option>
        <option value="morty">I want to fight Morty!</option>
        <option value="narutofanboy">I want to fight Naruto Fanboy!</option>
        <option value="professorbirch">I want to fight Professor Birch!</option>
        <option value="steven">I want to fight Steven!</option>
        <option value="tigerous">I want to fight Tigerous!</option>
        <option value="toothless">I want to fight Toothless!</option>
    </select>
</div>

<div class="leader-info leader-info-hoenn-gingeryjones d-none">
    {% include_relative gingeryjones.html %}
</div>
<div class="leader-info leader-info-hoenn-raikouguardian d-none">
    {% include_relative raikouguardian.html %}
</div>
<div class="leader-info leader-info-hoenn-ltsurge d-none">
    {% include_relative ltsurge.html %}
</div>
<div class="leader-info leader-info-hoenn-morty d-none">
    {% include_relative morty.html %}
</div>
<div class="leader-info leader-info-hoenn-narutofanboy d-none">
    {% include_relative narutofanboy.html %}
</div>
<div class="leader-info leader-info-hoenn-professorbirch d-none">
    {% include_relative professorbirch.html %}
</div>
<div class="leader-info leader-info-hoenn-steven d-none">
    {% include_relative steven.html %}
</div>
<div class="leader-info leader-info-hoenn-tigerous d-none">
    {% include_relative tigerous.html %}
</div>
<div class="leader-info leader-info-hoenn-toothless d-none">
    {% include_relative toothless.html %}
</div>

