<div class="mb-3 w-100">
    <label>
        <span class="fw-bold">Select a boss:</span>
    </label>
    <select class="form-select gym-select" data-region="johto">
        <option value="">No boss selected...</option>
        <option value="battlebot">I want to fight BattleBot!</option>
        <option value="bruno">I want to fight Bruno!</option>
        <option value="bugsy">I want to fight Bugsy!</option>
        <option value="pewdiediepy">I want to fight Pewdie and Diepy!</option>
        <option value="suicuneguardian">I want to fight the Suicune Guardian!</option>
        <option value="lance">I want to fight Lance!</option>
        <option value="lorelei">I want to fight Lorelei!</option>
        <option value="misty">I want to fight Misty!</option>
        <option value="neroli">I want to fight Neroli!</option>
        <option value="professorelm">I want to fight Professor Elm!</option>
        <option value="sage">I want to fight Sage!</option>
        <option value="terminator">I want to fight Terminator!</option>
        <option value="thor">I want to fight Thor!</option>
    </select>
</div>

<div class="leader-info leader-info-johto-battlebot d-none">
    {% include_relative battlebot.html %}
</div>
<div class="leader-info leader-info-johto-bruno d-none">
    {% include_relative bruno.html %}
</div>
<div class="leader-info leader-info-johto-bugsy d-none">
    {% include_relative bugsy.html %}
</div>
<div class="leader-info leader-info-johto-pewdiediepy d-none">
    {% include_relative pewdiediepy.html %}
</div>
<div class="leader-info leader-info-johto-suicuneguardian d-none">
    {% include_relative suicuneguardian.html %}
</div>
<div class="leader-info leader-info-johto-lance d-none">
    {% include_relative lance.html %}
</div>
<div class="leader-info leader-info-johto-lorelei d-none">
    {% include_relative lorelei.html %}
</div>
<div class="leader-info leader-info-johto-misty d-none">
    {% include_relative misty.html %}
</div>
<div class="leader-info leader-info-johto-neroli d-none">
    {% include_relative neroli.html %}
</div>
<div class="leader-info leader-info-johto-professorelm d-none">
    {% include_relative professorelm.html %}
</div>
<div class="leader-info leader-info-johto-sage d-none">
    {% include_relative sage.html %}
</div>
<div class="leader-info leader-info-johto-terminator d-none">
    {% include_relative terminator.html %}
</div>
<div class="leader-info leader-info-johto-thor d-none">
    {% include_relative thor.html %}
</div>
