<div class="mb-3 w-100">
    <label>
        <span class="fw-bold">Select a boss:</span>
    </label>
    <select class="form-select gym-select" data-region="kanto">
        <option value="">No boss selected...</option>
        <option value="brock">I want to fight Brock!</option>
        <option value="chuck">I want to fight Chuck!</option>
        <option value="cie">I want to fight Cie!</option>
        <option value="erika">I want to fight Erika!</option>
        <option value="george">I want to fight George!</option>
        <option value="enteiguardian">I want to fight the Entei Guardian!</option>
        <option value="jessiejames">I want to fight Jessie and James!</option>
        <option value="klohver">I want to fight Klohver!</option>
        <option value="koichi">I want to fight Koichi!</option>
        <option value="naero">I want to fight Naero!</option>
        <option value="officerjenny">I want to fight Officer Jenny!</option>
        <option value="officershamac">I want to fight Officer Shamac!</option>
        <option value="professoroak">I want to fight Professor Oak!</option>
        <option value="thepumpkinking">I want to fight The Pumpkin King!</option>
        <option value="urahara">I want to fight Urahara!</option>
        <option value="xylos">I want to fight Xylos!</option>
    </select>
</div>

<div class="leader-info leader-info-kanto-brock d-none">
    {% include_relative brock.html %}
</div>
<div class="leader-info leader-info-kanto-chuck d-none">
    {% include_relative chuck.html %}
</div>
<div class="leader-info leader-info-kanto-cie d-none">
    {% include_relative cie.html %}
</div>
<div class="leader-info leader-info-kanto-erika d-none">
    {% include_relative erika.html %}
</div>
<div class="leader-info leader-info-kanto-george d-none">
    {% include_relative george.html %}
</div>
<div class="leader-info leader-info-kanto-enteiguardian d-none">
    {% include_relative enteiguardian.html %}
</div>
<div class="leader-info leader-info-kanto-jessiejames d-none">
    {% include_relative jessiejames.html %}
</div>
<div class="leader-info leader-info-kanto-klohver d-none">
    {% include_relative klohver.html %}
</div>
<div class="leader-info leader-info-kanto-koichi d-none">
    {% include_relative koichi.html %}
</div>
<div class="leader-info leader-info-kanto-naero d-none">
    {% include_relative naero.html %}
</div>
<div class="leader-info leader-info-kanto-officerjenny d-none">
    {% include_relative officerjenny.html %}
</div>
<div class="leader-info leader-info-kanto-officershamac d-none">
    {% include_relative officershamac.html %}
</div>
<div class="leader-info leader-info-kanto-professoroak d-none">
    {% include_relative professoroak.html %}
</div>
<div class="leader-info leader-info-kanto-thepumpkinking d-none">
    {% include_relative thepumpkinking.html %}
</div>
<div class="leader-info leader-info-kanto-urahara d-none">
    {% include_relative urahara.html %}
</div>
<div class="leader-info leader-info-kanto-xylos d-none">
    {% include_relative xylos.html %}
</div>