<div class="mb-3 w-100">
    <label>
        <span class="fw-bold">Select a boss:</span>
    </label>
    <select class="form-select gym-select" data-region="sinnoh">
        <option value="">No boss selected...</option>
        <option value="ashwestbrook">I want to fight Ash Westbrook!</option>
        <option value="letrix">I want to fight Letrix!</option>
        <option value="link">I want to fight Link!</option>
        <option value="Logan">I want to fight Logan!</option>
        <option value="maribela">I want to fight Maribela!</option>
        <option value="medusaeldir">I want to fight Medusa and Eldir!</option>
        <option value="professorrowan">I want to fight Professor Rowan!</option>
        <option value="saphirr">I want to fight Saphirr!</option>
        <option value="spectify">I want to fight Spectify!</option>
    </select>
</div>

<div class="leader-info leader-info-sinnoh-ashwestbrook d-none">
    {% include_relative ashwestbrook.html %}
</div>
<div class="leader-info leader-info-sinnoh-letrix d-none">
    {% include_relative letrix.html %}
</div>
<div class="leader-info leader-info-sinnoh-link d-none">
    {% include_relative link.html %}
</div>
<div class="leader-info leader-info-sinnoh-Logan d-none">
    {% include_relative Logan.html %}
</div>
<div class="leader-info leader-info-sinnoh-maribela d-none">
    {% include_relative maribela.html %}
</div>
<div class="leader-info leader-info-sinnoh-medusaeldir d-none">
    {% include_relative medusaeldir.html %}
</div>
<div class="leader-info leader-info-sinnoh-professorrowan d-none">
    {% include_relative professorrowan.html %}
</div>
<div class="leader-info leader-info-sinnoh-saphirr d-none">
    {% include_relative saphirr.html %}
</div>
<div class="leader-info leader-info-sinnoh-spectify d-none">
    {% include_relative spectify.html %}
</div>


